{project_plugins, [rebar3_ex_doc]}.


{erl_opts, [debug_info]}.

{shell, [{apps, [ssl, irc]}]}.


%% Cover
{cover_enabled, true}.
{cover_opts, [verbose]}.


%% ExDoc
{ex_doc, [{output, "doc/exdoc"},
          {main, "introduction"},
          {extras, ["doc/src/introduction.md",
                    "doc/src/messages.md",
                    "doc/src/state.md",
                    {"COPYING", #{title => "License"}}]},
          {groups_for_modules, [{"Configuration", [irc_config]},
                                {"State", [irc_channel, irc_isupport, irc_state]},
                                {"Messages", [irc_command, irc_make, irc_parser, irc_send]},
                                {"Utils", [irc_text, irc_zipper]}]},
          {source_url, "https://github.com/hyperimpose/irc"}]}.
